@charset "utf-8";
/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
li,
p {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-feature-settings: "palt";
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: white;
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}
h5,
h6 {
    color: #000073;
}
h2,
.concept_title,
h4,
.header_wrap,
.header_about,
.header_works,
.header_contact,
.footer_about,
.footer_works,
.footer_contact,
.num,
.about_name {
    font-family: fraunces-variable, sans-serif;
    font-variation-settings: "SOFT" 0, "WONK" 1, "opsz" 9, "wght" 600;
}
.contant {
    font-family: hiragino-mincho-pron, sans-serif;
}
a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
    margin: 0;
}
.br_sp {
    display: none;
}
.content_bg {
    position: relative;
}
.pc_bg_bubble_right {
    background-image: url("../images/1x/1x/bg_item.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 11%;
    height: 675px;
    position: absolute;
    /* animation: shake 2s infinite;
    transform: rotate(20deg); */
}
/* @keyframes shake {
    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(20deg);
    }
} */

.pc_bg_grass_right {
    background-image: url("../images/1x/1x/bg_item_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 162px;
    height: 718px;
    mix-blend-mode: multiply;
    position: absolute;
}
/* #txt {
    width: 200px;
    margin: 50px auto;
    font-weight: bold;
    font-size: 36px;
    color: #c00;
    font-family: impact;
} */

.sp_bg_grass_right {
    background-image: url("../2x/sp_grass_right@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top 12%;
    width: 128px;
    height: 100%;
    mix-blend-mode: multiply;
    position: absolute;
}
/*パソコンで見たときは"pc"のclassがついた画像が表示される*/
.sp_bg_grass_right {
    display: none;
}
.pc_bg_grass_right {
    display: block;
}

.pc_bg_bubble_left {
    background-image: url("../images/1x/1x/bg_item.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 11%;
    height: 675px;
    position: absolute;
}
.pc_bg_grass_left {
    background-image: url("../1x/bg_item2.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 162px;
    height: 718px;
    mix-blend-mode: multiply;
    position: absolute;
}
.sp_bg_grass_left {
    background-image: url("../2x/sp_grass_left@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 147px;
    height: 100%;
    mix-blend-mode: multiply;
    position: absolute;
}
/*パソコンで見たときは"pc"のclassがついた画像が表示される*/
.sp_bg_grass_left {
    display: none;
}
.pc_bg_grass_left {
    display: block;
}

.pc_bg_fish_01 {
    background-image: url("../images/1x/1x/fish1.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10%;
    height: 42px;
    position: absolute;
    animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
}

.pc_bg_fish_02 {
    background-image: url("../images/1x/1x/fish2.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10%;
    height: 42px;
    position: absolute;
    animation: floating-y 1.8s ease-in-out infinite alternate;
}
.pc_bg_fish_03 {
    background-image: url("../images/1x/1x/fish3.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10%;
    height: 42px;
    position: absolute;
    animation: floating-y 2.3s ease-in-out infinite alternate-reverse;
}
.pc_bg_fish_04 {
    background-image: url("../images/1x/1x/fish4.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 5%;
    height: 20px;
    position: absolute;
    animation: floating-y 2.5s ease-in-out infinite alternate;
}
.pc_bg_fish_05 {
    background-image: url("../images/1x/1x/fish5.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 5%;
    height: 20px;
    position: absolute;
    animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
}
.pc_bg_fish_06 {
    background-image: url("../images/1x/1x/fish6.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10%;
    height: 42px;
    position: absolute;
    animation: floating-y 1.8s ease-in-out infinite alternate;
    animation-delay: 0.3s;
}
.works_bg_bubble_right {
    background-image: url("../2x/pc_works_bubbule@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: contain;
    width: 11%;
    height: 675px;
    position: absolute;
    display: none;
}
.pc_bg_works_bubble {
    background-image: url("../1x/works_bg_item.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 135px;
    height: 42px;
    position: absolute;
}
.pc_bg_wk_bubble {
    background-image: url("../1x/wk_bubble.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 270px;
    position: absolute;
}
.pc_bg_wk_bubble {
    background-image: url("../1x/wk_bubble.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 270px;
    position: absolute;
}
.sp_bg_grass_left {
    background-image: url("2x/sp_grass_left@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: contain;
    width: 80px;
    height: 270px;
    mix-blend-mode: multiply;
    position: absolute;
}

@keyframes floating-y {
    0% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(30%);
    }
}

/* ========= LoadingのためのCSS ===============

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: #eee;
    text-align: center;
    color: #fff;
}

/* #splash.is-active {
    opacity: 0;
    visibility: hidden;
} */
/* Loading画像中央配置　*/
#splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo svg {
    width: 500px;
}

/*=============== SVGアニメーション内の指定 =================*/

/*アニメーション前の指定*/
#mask path {
    fill-opacity: 0; /*最初は透過0で見えない状態*/
    transition: fill-opacity 0.5s; /*カラーがつく際のアニメーション0.5秒で変化*/
    fill: none; /*塗りがない状態*/
    stroke: #3fc8ca; /*線の色*/
}

/*アニメーション後に.doneというクラス名がで付与された時の指定*/
#mask.done path {
    fill: #3fc8ca; /*塗りの色*/
    fill-opacity: 1; /*透過1で見える状態*/
    stroke: none; /*線の色なし*/
}
/* #mask.is-active {
    opacity: 1;
    visibility: visible;
} */

/*--------- 背景 --------*/
.top_bg {
    background-image: url("../images/1x/top_bg_4-80.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.works_bg {
    background-image: url("../images/1x/works_bg_1-80.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.works_item_bg {
    background-image: url("../images/1x/works_bg_1-80.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.pc_header_nav {
    padding-right: 80px;
}

.sp_nav {
    display: none;
}

/* 縦書きテキスト */

main {
    position: relative;
}

main::before {
    content: "海のように、深く。";
    font-family: "Zen Old Mincho", serif;
    font-style: normal;
    font-weight: 300;
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: -450px;
    left: 150px;
    writing-mode: vertical-rl;
    font-feature-settings: initial;
    transform: translate(-50%, 0%);
}

main {
    margin-top: 450px;
}

main::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 150px;
    width: 1px;
    background: #fff;
}

/* --------------*/

#title {
    font-family: "Fraunces";
}
h1 {
    padding-left: 10%;
}
h2 {
    font-size: 120px;
    line-height: 1.7;
    padding-top: 200px;
}
h3 {
    font-size: 20px;
    line-height: 1.7;
}
.title {
    text-align: center;
}
.text {
    font-size: 15px;
    line-height: 2.1;
}
/*----------ヘッダー----------*/
.logo_img {
    padding: 80px 0 0 80px;
}
.pc_header_nav {
    font-size: 30px;
    line-height: 1.4;
    text-align: right;
}
.header_about {
    padding-bottom: 40px;
}
.header_works {
    padding-bottom: 40px;
}
/*----------コンセプト----------*/
.br-sp {
    display: none;
}

#concept {
    max-width: 60%;
    text-align: left;
}
.line {
    border-right: thick solid #ffff;
    border-width: 1px;
    padding-left: 12%;
    height: 100%;
    /* left: 50%; */
    position: absolute;
    max-height: 100%;
}
.content_box {
    margin: 0 auto;
}
.concept_title {
    font-size: 55px;
    line-height: 1.6;
}
.concept_subtitle {
    font-size: 35px;
    line-height: 1.4;
    padding-bottom: 45px;
}
#concept_text {
    font-size: 24px;
    line-height: 1.4;
    padding-bottom: 200px;
}

/*----------アバウト----------*/
#about {
    max-width: 52%;
    margin: 0 auto;
}
#about img {
    margin: auto;
    display: block;
    padding: 30px 0 30px 0;
}
#about .pc_bg_bubble_right {
    top: 10%;
    right: 2%;
}

#about .pc_bg_grass_right {
    top: 50%;
    right: 0;
}

h2.about {
    position: relative;
    line-height: normal;
    display: inline-block;
    z-index: 1;
}
h2.about::after {
    content: "";
    display: block;
    width: 45px;
    height: 30px;
    background-image: url("../images/1x/1x/about_img.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 20px;
    right: -45px;
    z-index: -1;
}
.name {
    text-align: center;
}
.about_name {
    font-size: 45px;
}
.about_sub_name {
    font-size: 22px;
    padding: 25px 0 100px 0;
}
#about_subtitle {
    padding-bottom: 40px;
}
#about_text {
    padding-bottom: 70px;
}
#profile {
    max-width: 52%;
    margin: 0 auto;
}
.profile {
    line-height: 1.7;
    display: flex;
    align-items: flex-end;
    gap: 20px;
    max-width: 52%;
    min-width: 225px;
}
.profile_title {
    font-size: 24px;
}

.profile_subtitle {
    font-size: 15px;
    display: flex;
    padding-bottom: 3px;
}
#profile_list {
    font-size: 16px;
}
.profile_list {
    line-height: 1.7;
}
#profile img {
    width: 40px;
}
#profile_img {
    width: 40px;
    display: flex;
    padding: 5% 0 0 10%;
    gap: 20px;
}
#skill {
    padding-top: 45px;
}
.skill {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.skill li {
    display: flex;
    line-height: 1.7;
}

/*----------ワークス----------*/
#works {
    margin: 0 auto;
    max-width: 810px;
}
.works {
    text-align: center;
}
#works .pc_bg_grass_left {
    top: 50%;
    left: 0;
}
#works .pc_bg_fish_01 {
    top: 40%;
    left: 3%;
}
#works .pc_bg_fish_02 {
    top: 40%;
    right: 0;
}
#works .pc_bg_fish_03 {
    top: 52%;
    left: 35%;
}
#works .pc_bg_fish_04 {
    top: 54%;
    left: 30%;
}
#works .pc_g_fish_05 {
    top: 58%;
    left: 22%;
}
#works .pc_bg_bubble_left {
    top: -5%;
    left: 0%;
}
.works_contact .pc_bg_grass_right {
    top: -40%;
    right: 0%;
}
h2.works {
    position: relative;
    line-height: normal;
    display: inline-block;
    z-index: 1;
}
h2.works::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("../images/1x/1x/works_img.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 70px;
    right: -35px;
    z-index: -1;
}
#works_text {
    text-align: center;
    padding: 20px 0 60px 0;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0 3%;
}
.works_box {
    margin: auto;
    display: block;
    background: linear-gradient(to right, #3f8fca, #3fc8ca);
    max-width: 60%;
    margin-bottom: 80px;
    border-radius: 0 60px 0 60px;
    text-align: center;
    padding: 0 265px 0 265px;

    display: flex;
    align-items: flex-start;
    padding: 47px 8% 47px 5%;
    justify-content: space-between;

    position: relative;

    /* はみ出たところを隠す */
    overflow: hidden;
    /* 上に重ねる */
    z-index: 10;
}
.works_bg_blend {
    background: linear-gradient(to right, #3f8fca, #3fc8ca);
    /* 乗算 */
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* 下に重ねる */
    z-index: -10;
}
.works_box_1 .works_box_image {
    width: 40%;
}
.works_box_image img {
    width: 100%;
}
.works_box_2 .works_box_image {
    width: 35%;
}

.works_box_3 .works_box_image {
    width: 60%;
}

.box_text {
    color: #ffff;
    font-size: 22px;
    text-align: left;
    display: block;
}
.box_title {
    font-size: 22px;
    padding-bottom: 10%;
}
.box_subtitle {
    font-size: 16px;
}

#works_button {
    background: linear-gradient(to right, #0054a7, #16234f);
    /* background-color: blue; */
    width: 250px;
    height: 80px;
    border-radius: 40px;
    align-items: center;
    margin: 0 auto;
    position: relative;

    background: transparent;
    border: none;
    position: relative;
    border-radius: 0;
    z-index: 1;
}

.button_text {
    color: #ffff;
    font-size: 22px;
    text-align: left;
    display: block;
    position: absolute;
    top: 37%;
    left: 30%;
}
/*----------ワークス一覧----------*/

#works {
    max-width: 70%;
}
#works_text {
    font-size: 20px;
    padding-bottom: 220px;
}

#works .works_bubble {
    top: 30%;
    left: 0;
}
.works_item {
    margin: 0 auto;
    max-width: 950px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
}
#works_item {
    width: 280px;
    height: 280px;
    background-image: linear-gradient(
        150deg,
        rgba(63, 143, 202, 1),
        rgba(63, 200, 202, 1) 90%
    );
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
}

.bg {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.num {
    font-size: 50px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 10px;
    left: 30px;
    margin: 0;
}

.text_item {
    background-image: linear-gradient(
        0deg,
        rgba(63, 143, 202, 1),
        rgba(63, 143, 202, 1) 30%,
        rgba(255, 255, 255, 0.2) 70%,
        rgba(255, 255, 255, 0)
    );
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.text_item p {
    color: #fff;
    font-weight: bold;
    margin-left: 30px;
    text-align: left;
}
.text_item p:nth-child(1) {
    font-size: 11px;
    margin-bottom: 15px;
}
.text_item p:nth-child(2) {
    font-size: 15px;
    margin-bottom: 35px;
}
.pc_works_img {
    display: block !important;
    height: 100%;
}
.sp_works_img {
    display: none !important;
}

.sp_dots {
    display: none !important;
}

.pc_dots {
    width: 27px;
    margin-left: 24px;
    display: block !important;
}
/*----------ワークページ----------*/

#wk_contant {
    margin: 0 auto;
    max-width: 82%;
    background-image: url("../images/1x/wk_item_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
}
#wk_contant .pc_bg_grass_right {
    top: 85%;
    right: 0%;
}
#wk_lp_contant {
    margin: 0 auto;
    max-width: 82%;
    background-image: url("../1x/works_bg_lp.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
}

#wk_lp_contant .pc_bg_grass_right {
    top: 85%;
    right: 0%;
}

.pc_bg_wk_bubble {
    top: 10%;
    left: 3%;
}
.wk_1,
.wk_2,
.wk_3,
.wk_4,
.wk_5 {
    width: 70%;
    margin: 0 auto;
}
.wk_1 img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
}
.wk_2 img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
}
.wk_3_img {
    display: flex;
    align-items: flex-end;
}
.wk_3_1 {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
}
.wk_3_2 {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
}
.wk_4 img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
}
.wk_lp_item {
    display: flex;
    align-items: flex-start;
}
.wk_lp_item_pc {
    width: 63%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
}
.wk_lp_item_sp {
    width: 17%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
}
.wk_5 img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
}
.wk_hare_lp {
    width: 63%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
}
#wk_text {
    color: #000073;
    margin: 0 auto;
    width: 70%;
}
h5 {
    margin: 0;
}
#wk_title {
    text-align: center;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    border-bottom: solid #333333 0.5px;
    padding-bottom: 20px;

    line-height: 1.7;
}
.wk_title {
    font-size: 20px;
}
.wk_subtitle {
    font-size: 16px;
    display: flex;
}
.wk_item {
    font-size: 15px;
    line-height: 2.2;
    color: #000073;
}
.wk_items {
    color: #000073;
}
.wk_text_contants {
    max-width: 50%;
    padding-bottom: 110px;
}
span {
    color: white;
}
.wk_text {
    color: #000073;
    font-size: 15px;
    line-height: 1.6;
    padding-top: 20px;
}
h6 {
    font-size: 15px;
    color: #000073;
    padding-top: 30px;
}
.wk_text_item {
    display: flex;
    justify-content: space-between;
}
.works_text_contant ul {
    justify-content: flex-start;
    width: 50%;
}
.wk_text_contant {
    width: 50%;
}
.wk_list {
    /* max-width: 50%; */
    padding: 0%;
}
.wk_items {
    padding-left: 8%;
}
#wk_btn {
    padding-bottom: 160px;
}
/*----------コンタクト----------*/
#contact {
    width: 64%;
}
#contact .bg_fish_06 {
    top: 30%;
    right: 5%;
}
/* #contact .bg_bubble_right {
    display: none;
} */
h2.contact {
    position: relative;
    line-height: normal;
    display: inline-block;
    z-index: 1;
}
h2.contact::after {
    content: "";
    display: block;
    width: 350px;
    height: 200px;
    background-image: url("../images/1x/1x/contact_item.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 50px;
    right: -150px;
    z-index: -1;
    animation: shake 2s infinite;
    transform: rotate(5deg);
}
@keyframes shake {
    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}
#contact_text {
    text-align: center;
}
.contact_text {
    font-size: 14px;
    padding-bottom: 40px;
    /* max-width: 36%; */
}
.contact_subtext {
    font-size: 14px;
    line-height: 1.7;
    text-align: left;
}

#contact_us_button {
    padding-top: 90px;
}
.contact_us_button {
    background-color: blue;
    width: 54%;
    height: 110px;
    border-radius: 35px;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.contact_us_button_text {
    color: #ffff;
    font-size: 24px;
    text-align: center;
    display: block;
}
.c-form {
    width: 60%;
    margin: 0 auto;
}
.c-form__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
/* 項目 */
.c-form__label {
    text-align: left;
}
.c-form__label,
.c-form__input {
    padding: 10px;
}
.c-form__label {
    width: 90%;
}
/* 入力欄のbox */
.c-form__input {
    width: 100%;
    font-size: 16px;
    border: solid 1px #333;
    border-radius: 4px;
}

textarea.c-form__input {
    height: 160px;
}
.c-form__submit,
.works_btn_container {
    text-align: center;
}
.btn_parts {
    background: linear-gradient(to right, #0054a7, #16234f);
    max-width: 250px;
    width: 100%;
    height: 80px;
    border-radius: 40px;
    align-items: center;
    text-align: center;
    margin-top: 170px;
    color: #ffff;
    border: none;
    font-size: 20px;
    cursor: pointer;

    background: transparent;
    border: none;
    position: relative;
    border-radius: 0;
    z-index: 1;
}
.btn_parts::before,
.btn_parts::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}
.btn_parts::before {
    background: linear-gradient(to right, #0054a7, #16234f);
    /* border: 2px solid #ffb509; */
    z-index: -1;
}
.btn_parts::after {
    background: linear-gradient(to right, #0054a7, #16234f);
    opacity: 0.5;
    z-index: -2;
}
.btn_parts:hover::before {
    background: transparent;
}

.btn_parts:hover::after {
    top: 6px;
    left: 6px;
}

.btn_parts:hover {
    background: transparent;
    color: white;
    border-radius: 40px;
    border: 2px solid linear-gradient(to right, #65fdf0, #1d6fa3);
}
.contact_us_button {
    background: linear-gradient(to right, #0054a7, #16234f);
    width: 53%;
    height: 80px;
    border-radius: 35px;
    align-items: center;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*placeholderのスタイル*/
.c-form__input::placeholder {
    color: #1d2088;
    /* 半透明 */
    opacity: 0.5;
}
.c-form__submit {
    padding-bottom: 190px;
}
@media (min-width: 640px) {
    .c-form__item {
        flex-wrap: nowrap;
    }
    .c-form__label {
        width: 40%;
    }
    .c-form__input {
        width: 55%;
    }
}

.works_contact {
    position: relative;
}
/*----------プライバシーポリシー----------*/
.privacy_title {
    text-align: center;
    font-size: 23px;
    padding-bottom: 110px;
}

#privacy {
    margin: 0 auto;
    max-width: 64%;
}
.privacy_text {
    font-size: 25px;
    line-height: 1.2;
    padding: 40px 0 20px 0;
}

/*----------フッター----------*/
#footer {
    position: relative;
}
#footer img {
    width: 100%;
    position: absolute;
    mix-blend-mode: multiply;
    display: flex;
    align-items: center;
    top: 0;
    position: relative;
}

.pc_footer_nav {
    font-size: 30px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 6%;
}
.footer_about,
.footer_works,
.footer_contact {
    padding-bottom: 40px;
}
.privacy {
    font-size: 14px;
}

.sp_nav,
.sp_btn {
    display: none;
}
@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }
    /*ハンバーガー*/
    .sp_btn {
        display: block;
        height: 23px;
        cursor: pointer;
        /*位置の調節*/
        position: absolute;
        top: 20px;
        right: 25px;
        /*重なり具合*/
        z-index: 2;
    }

    .sp_btn svg {
        width: 83px;
        height: 17.5px;
        /*満たす*/
        fill: #fff;
    }
    .sp_btn.open svg {
        fill: #3f8fca;
    }
    .sp_btn span {
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: transparent;
        /*位置の調節*/
        position: relative;
        top: 10px;
        /*アニメーション*/
        transition: 0.3s;
    }
    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        /*位置の調節*/
        position: absolute;
        /*アニメーション*/
        transition: 0.3s;
    }
    .sp_btn span::before {
        bottom: 10px;
        border-image: url("../2x/hamburger_up@2x.png");
    }
    .sp_btn span::after {
        top: 10px;
        border-image: url("../2x/hamburger_under@2x.png");
    }
    /*ばつ印*/
    .sp_btn.open span {
        background: transparent;
    }
    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }
    /*spメニューの見た目*/
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh; /*デバイスの高さの100％*/
        background: rgba(245, 242, 242, 0.9);
        /*重なり具合*/
        z-index: 1;
    }

    .slick-prev:before,
    .slick-next:before {
        color: #000 !important;
    }

    .container #work_box {
        font-size: 2rem;
        font-weight: bold;
        line-height: 100px;
        color: #666;
        margin: 10px;
        text-align: center;
        background-color: #e0e0e0;
        opacity: 0.4;
        transition: all 300ms ease;
    }

    .center-mode p.slick-center {
        color: #f50057;
        opacity: 1;
        transform: scale(1.16);
    }

    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sp_nav ul li {
        padding: 40px;
        color: #3f8fca;
        font-size: 18px;
        font-family: fraunces-variable, sans-serif;
        font-variation-settings: "SOFT" 0, "WONK" 1, "opsz" 9, "wght" 600;
    }

    main {
        margin-top: 450px;
    }
    main::before {
        left: 100px;
    }
    main::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100px;
        width: 1px;
        background: #fff;
    }
    .logo_img {
        margin-bottom: 325px;
    }

    .pc_header_nav {
        display: none;
    }

    .contact {
        font-size: 100px;
    }
    h2.contact::after {
        width: 200px;
        bottom: 100px;
        right: -80px;
    }
}
@media screen and (max-width: 1032px) {
    h2.contact::after {
        width: 200px;
        bottom: 100px;
        right: -80px;
    }
}

@media screen and (max-width: 857px) {
    /*----------ワークス一覧----------*/

    .pc_dots {
        display: none !important;
    }
    .sp_dots {
        display: block !important;
        margin-left: 3%;
        width: 30%;
    }

    .pc_woks_img {
        display: none !important;
    }
    .sp_woks_img {
        display: block !important;
    }
    .works_item_img {
        height: 100%;
    }
    #works {
        max-width: 85%;
    }
    #works_text {
        font-size: 14px;
        padding-bottom: 80px;
    }
    .works_item {
        margin: 0 auto;
        width: 85%;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
        gap: 30px;
    }
    #works_item {
        width: 320px;
        height: 170px;
        background-image: linear-gradient(
            150deg,
            rgba(63, 143, 202, 1),
            rgba(63, 200, 202, 1) 90%
        );
        margin: 0 auto;
        margin-bottom: 68px;
        position: relative;
    }

    .bg {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .num {
        font-size: 60px;
        line-height: 1.5;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 15px;
        left: 20px;
        margin: 0;
    }

    .text_item {
        background-image: linear-gradient(
            0deg,
            rgba(63, 143, 202, 1),
            rgba(63, 143, 202, 1) 30%,
            rgba(255, 255, 255, 0.2) 70%,
            rgba(255, 255, 255, 0)
        );
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 125px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .text_item p {
        color: #fff;
        font-weight: bold;
        margin-left: 3%;
        text-align: left;
    }
    .text_item p:nth-child(1) {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .text_item p:nth-child(2) {
        font-size: 15px;
        margin-bottom: 18px;
    }
    .contact {
        font-size: 70px;
    }
}

@media screen and (max-width: 767px) {
    .br-sp {
        display: block;
    }
    .top_bg {
        background-image: url("../2x/2x/sp_bg@2x-80.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    main::before {
        top: -500px;
        left: 49%;
        margin: 0 auto;
        letter-spacing: 0.2rem;
    }

    main {
        margin-top: 700px;
    }

    main::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 25px;
        width: 1px;
        background: #fff;
    }
    .logo_img {
        padding: 30px 0 0 30px;
        width: 80px;
        margin-bottom: 100px;
    }

    h2 .about,
    .works,
    .contact {
        font-size: 42px;
    }
    /*----------コンセプト----------*/
    #concept {
        max-width: 76%;
        margin: none;
    }
    .concept_title {
        font-size: 28px;
        line-height: 1.6;
    }

    .concept_subtitle {
        font-size: 25px;
        line-height: 2;
    }
    #concept_text {
        font-size: 16px;
        line-height: 1.7;
        padding: 30px 0 50px 0;
    }

    /*----------アバウト----------*/
    h2 {
        font-size: 45px;
    }
    .about {
        text-align: left;
    }
    h3 {
        font-size: 14px;
        padding-bottom: 60px;
    }

    #about {
        max-width: 76%;
        text-align: left;
    }
    .about_image {
        width: 100vw;
        margin-left: calc(50% - 50vw);
    }
    #about_title {
        text-align: left;
        margin-left: 16px;
    }
    #about img {
        text-align: left;
        margin: 0;
        width: 60%;
        max-width: none;
    }
    #about .about_title {
        text-align: left;
    }
    picture {
        padding-top: 60px;
        margin-right: auto;
    }
    .name {
        text-align: left;
    }
    .about_name {
        font-size: 32px;
    }
    .about_sub_name {
        font-size: 18px;
    }
    #about_subtitle {
        font-size: 20px;
    }

    #profile_title {
        font-size: 25px;
    }
    #profile_list {
        font-size: 17px;
    }
    .list_text {
        font-size: 14px;
    }
    .profile_subtitle {
        font-size: 14px;
    }
    .profile_dots {
        display: none;
    }
    .br_sp {
        display: block;
    }

    .list_title {
        font-size: 14px;
    }
    #profile {
        padding-left: 26%;
    }

    #about .pc_bg_grass_right {
        top: 20%;
        right: 0;
    }

    #about .pc_bg_grass_right {
        display: none;
    }
    .sp_bg_grass_right {
        display: block;
        right: 0;
    }
    .pc_bg_bubble_right {
        display: none;
    }
    .sp_bg_grass_left {
        left: 0;
        top: -20%;
    }
    #contact .sp_grass_right_under {
        background-image: url("../2x/sp_grass_right_under@2x.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right top 20%;
        width: 162px;
        height: 100%;
        mix-blend-mode: multiply;
        position: absolute;
    }

    #profile .sp_bg_grass_left {
        background-image: url("../2x/sp_grass_left@2x.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left top 20%;
        width: 147px;
        height: 100%;
        mix-blend-mode: multiply;
        position: absolute;
    }

    /*パソコンで見たときは"pc"のclassがついた画像が表示される*/
    .sp_bg_grass_left {
        display: block;
    }
    .pc_bg_grass_left {
        display: none;
    }
    /*----------ワークス----------*/
    #works .pc_bg_fish_01 {
        top: -15%;
        left: 1%;
    }
    #works .pc_bg_fish_02 {
        top: -57%;
        right: 5%;
    }

    #works .pc_bg_fish_03 {
        top: 55%;
        left: 85%;
    }
    #works .pc_bg_fish_04 {
        top: 56%;
        left: 80%;
    }
    .pc_bg_bubble_right {
        display: none;
    }
    #works .bg_grass_left {
        top: -20%;
        left: 0;
    }

    .works_bg_bubble_right {
        display: block;
        right: 20px;
        top: 30px;
    }

    #works_text {
        margin: 0 auto;
    }
    #works .pc_bg_fish_03 {
        top: 52%;
        left: 10%;
    }
    #works .pc_bg_fish_04 {
        top: 54%;
        left: 10%;
    }

    h2.works::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-image: url(../images/1x/1x/works_img.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: 10px;
        right: -20px;
        z-index: -1;
    }

    #works_text {
        font-size: 14px;
        padding-bottom: 90px;
    }
    .container .works_box {
        display: flex;
        height: 350px;
        padding: 10px 0;
        flex-direction: column-reverse;
        margin: 0 20px;
        align-items: center;
        justify-content: center;
    }
    .works_box .works_box_image {
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
    }
    .container {
        padding: 0;
    }

    .works_box_1 img {
        max-width: 265px;
        margin: 0 auto;
        width: 100%;
    }
    .works_box_2 img {
        margin: 0 auto;
        height: 90%;
        /* width: 45%; */
        width: auto;
    }
    .works_box_3 img {
        width: 70%;
        margin: 0 auto;
    }
    .box_text {
        color: #ffff;
        font-size: 22px;
        text-align: left;
        display: block;
    }
    .box_title {
        font-size: 15px;
        padding-bottom: 10%;
    }
    .box_subtitle {
        font-size: 14px;
        padding-bottom: 20px;
    }
    .works_btn_container {
        padding-bottom: 380px;
    }

    .slick-dots {
        bottom: -50px;
    }
    .slick-dots li.slick-active button:before {
        color: #fff;
    }
    .slick-dots li button:before {
        color: #fff;
    }
    .pc_bg_bubble_left {
        display: none;
    }
    /*----------ワークス詳細----------*/
    #wk_title {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }
    #wk_title h5:nth-child(1) {
        text-align: left;
    }
    #wk_title h5:nth-child(2) {
        text-align: right;
    }
    .wk_text_item {
        flex-direction: column;
    }

    .wk_text_contant {
        width: 100%;
    }
    .wk_text_contants {
        max-width: 100%;

        padding-bottom: 0;
    }
    .btn_parts {
        margin-top: 55px;
    }

    #wk_btn {
        padding-bottom: 120px;
    }
    .box_title {
        font-size: 15px;
    }
    .box_subtitle {
        font-size: 13px;
    }
    /*----------プライバシーポリシー----------*/
    .privacy_text {
        font-size: 16px;
    }
    #text {
        font-size: 14px;
    }
    /*----------コンタクト----------*/
    #contact {
        width: auto;
    }

    h2 .contact {
        padding: 380px;
    }
    .contact_subtext {
        text-align: right;
    }
    .contact_us_button {
        width: 215px;
    }
    .contact_us_button_text {
        font-size: 14px;
    }
    #contact .sp_grass_right_under {
        display: block;
        right: 0;
        top: -30%;
    }
    h2.contact::after {
        content: "";
        display: block;
        width: 117px;
        height: 70px;
        background-image: url("../2x/sp_contact_img@2x.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: 100px;
        left: -30px;
        z-index: -1;
    }

    /*----------フッター----------*/
    .pc_footer_nav {
        font-size: 25px;
    }
}

@media screen and (max-width: 550px) {
    #about img {
        width: 73%;
    }
    #about .bg_grass_right {
        top: 10%;
        right: 0;
    }
    h2 .about,
    .works,
    .contact {
        font-size: 42px;
        white-space: nowrap;
    }
    .contact {
        font-size: 40px;
    }
    #works .pc_bg_fish_02 {
        top: -56%;
        right: 5%;
    }
}
